<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ví dụ 2 SS1</title>
    <script src="../js/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myController">
        First Name: <input type="text" ng-model="firstName"><br>
        Last Name : <input type="text" ng-model="lastName"><br>
        Full Name: {{firstName + ' ' + lastName}}
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myController', function ($scope){
            /* Thiết lập các giá trị ban đầu cho các biến,
                 khi chạy phần view sẽ hiển thị giá trị này
                 Sau khi người dùng nhập giá trị mới, phần View sẽ nhờ qua controller để gửi tới model, model sẽ cập nhật
                 và thông qua controller để phần View hiển thị giá trị mới của biến
            */
            $scope.firstName = 'Dinh';
            $scope.lastName = 'Quang Anh';
        });
    </script>
</body>
</html>